body {
    margin: 0;
    padding: 0;
}

.box {
    margin: 0 10%;
    height: 80%;
    /* overflow: hidden; */
    padding: 10px 0 40px 100px;
}

.box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top: 0
}

.box ul:last-of-type {
    top: 80px
}

.box ul:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px dashed green;
    position: absolute;
    top: 0;
    left: 30px
}

.box ul li {
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    background: rgba(0, 255, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    line-height: 20px;
    width: 85%;
}


.box ul li>span {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border: 1px solid green;
    position: absolute;
    top: 0;
    left: -30px
}

.box ul li>span:before,
.box ul li>span:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid green;
    position: absolute;
    left: -5px;
}

.box ul li.current>span:before {
    background: green;
}

.box ul li>span:before {
    top: -10px
}

.box ul li>span:after {
    top: 95%
}

.box .title {
    font-weight: 700;
    margin-bottom: 5px
}

.box .info:first-letter {
    text-transform: capitalize;
    line-height: 1.7
}

.box .name {
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: right;
    margin-right: 20px
}


.box .time span {
    position: absolute;
    left: -12%;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    text-align: right;
}

.box .time span:first-child {
    top: -13px
}

.box .time span:last-child {
    top: 93%
}


.arrow {
    position: absolute;
    top: 105%;
    left: 45%;
    cursor: pointer;
    height: 20px;
    width: 20px
}

.arrow:hover {
    -webkit-animation: arrow 1s linear infinite;
    -moz-animation: arrow 1s linear infinite;
    -o-animation: arrow 1s linear infinite;
    animation: arrow 1s linear infinite;
}

.box ul:last-of-type .arrow {
    position: absolute;
    top: 105%;
    left: 45%;
    transform: rotateX(180deg);
    cursor: pointer;
}

.company {
    opacity: 0.6;
}

svg {
    width: 20px;
    height: 20px
}

@keyframes arrow {

    0%,
    100% {
        top: 105%
    }

    50% {
        top: 106%
    }
}

@-webkit-keyframes arrow {

    0%,
    100% {
        top: 105%
    }

    50% {
        top: 106%
    }
}

@-moz-keyframes arrow {

    0%,
    100% {
        top: 105%
    }

    50% {
        top: 106%
    }
}

@-o-keyframes arrow {

    0%,
    100% {
        top: 105%
    }

    50% {
        top: 106%
    }
}

@media only screen and (max-width: 1440px) {
    .box {
        padding: 10px 0 40px 100px;
    }
    .arrow {
        display: none !important;
    }
    .box .time span {
        left: -18%;
    }
    #now {
        left: -13%;
    }
}

@media only screen and (max-width: 720px) {
    .box {
        margin: 0 0%;
        padding: 0px 10px 0px 0px;
    }
    .box .time span {
        left: -23%;
        width: min-content;
    }
    .box ul li {
        line-height: 22px;
        width: 84%;
    }
    .box ul:before {
        left: 38px
    }
    .box ul li>span {
        left: -22px
    }
    #now {
        left: -23%;
    }
}