body {
    font-family: "Roboto", sans-serif !important;
    background-image: url('../assets/Interstellar-bg.svg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    border-top: 2px solid #e83e8c !important;
}

/* .pageHeader {
    position: absolute;
    top: 10%;
} */

.font-sacramento {
    font-family: "Sacramento" !important;
}

.font-vt323 {
    font-family: "VT323" !important;
}

.banner-fontsize {
    font-size: 80px;
}

.uppercase {
    text-transform: uppercase;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #e83e8c !important;
}

.navbar-brand {
    color: #e83e8c !important;
}

.bg-black {
    background-color: black !important;
}

.vh-extend {
    height: 95vh;
}

.img-small {
    width: 25%;
    height: 25%;
}

.menu {
    width: 20px;
    height: 20px;
}

#animation {
    font-family: "VT323" !important;
    color: #e83e8c;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@media only screen and (max-width: 992px) {
    .vh-extend {
        height: 94vh !important;
    }
}

@media only screen and (max-width: 768px) {
    #animation {
        font-size: xx-large !important;
    }
    #line1 {
        font-size: larger !important;
    }
    #line2 {
        font-size: large !important;
    }
    #line3 {
        font-size: medium !important;
    }
    #line1 > strong, #line2 > strong, #line3 > strong {
        font-size: xx-large !important;
        opacity: 0.6 !important;
    }
}